@import "reset.css";

#header{
    height : 60px;
    position:relative;
}
    #header_logo{
        width : 200px;
        height : 100%;
        color :Red;
        font-size : 50px;
        position:absolute;
        transform: translate(-50%);
        left:10%;
        display:flex;
        align-items: center;
    }
    #sign_in{
        width : 200px;
        height : 100%;
        font-size : 30px;
        position:absolute;
        transform: translate(-50%);
        left:90%;
        border-radius : 10px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

#header_to_main{
    height : 2px;
    background-color: rgb(163,163,163);
}

#main{
    border : 1px solid black;
    height:750px;
    position:relative;
}
    #main_logo{
        text-align: center;
        margin-top:50px;
        margin-bottom:50px;
    }
    #stage{
        text-align: center;
        font-weight:bold;
        margin-bottom: 5px;;
    }
    #membership{
        text-align: center;
        font-size:35px;
        margin-bottom:35px;
    }
    #table{
        position:absolute;
        transform: translate(-50%,-50%);
        top:50%;
        left:50%;
    }
        #table ul{
            list-style:outside;
        }
        .list{
            height:50px;
            font-size : 20px;
        }
    #next_button{
        position:absolute;
        transform: translate(-50%,-50%);
        top:70%;
        left:50%;
        width:400px;
        height:70px;
        background-color:rgb(229,9,20);
        color : white;
        border-radius:10px;
        border : none;
        font-size:20px;
    }

#footer{
    height : 500px;
    position:relative;
}
    #footer_title{
        color :#737373;
        position:absolute;
        transform: translate(0%,-50%);
        left:20%;
        top:5%;
    }
    .info{
        color :#737373;
        position:absolute;
        transform: translate(0%-50%);
        left:20%;
        top : 15%;
    }
    .footer_lang{
        color :#737373;
        width:100px;
        height:30px;
        border : 1px solid #737373;
        border-radius:10px;
        text-align:center;
        position:absolute;
        transform: translate(0%-50%);
        left:20%;
        top : 50%;
        display:flex;
    }
        .footer_lang_text{
            color :#737373;
            margin:auto;
        }
    #footer_last_title{
        color :#737373;
        position:absolute;
        transform: translate(0%-50%);
        left:20%;
        top : 60%;
    }
    #footer_last{
        color :#737373;
        position:absolute;
        transform: translate(0%-50%);
        left:20%;
        top : 70%;
    }